<head>
  <title>Message Carousel</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<% if(typeof errors != 'undefined') { %>
<div class="error-container">
<%    errors.forEach(function(error){ %>
    <p> <%= error.msg %></p>
<%    })        %>
</div>
<% } %>

<% if(success_msg!= '') { %>
<p><%=success_msg %> </p>
<% } %>

<% if(error_msg != '') { %>
  <%= error_msg %>
<% } %>
<% if(error != '') { %>
  <%= error %>
<% } %>
